name: openshift-tester
prefix: null
cpu: "{{ openshift.tester.vcpus }}"
cpumodel: "host-passthrough"
memory: "{{ openshift.tester.memory }}"
swap: "0"
os:
    type: "linux"
    variant: "rhel7"
disks:
    disk1:
        import_url: null
        path: null
        dev: "/dev/vda"
        size: "40G"
        cache: "unsafe"
        preallocation: "metadata"

interfaces: null

groups:
    - openshift_tester
